/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.super-over-league-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
}

.heading {
  text-align: center;
  color: #f8fafc;
  font-size: 40px;
  font-family: 'Roboto';
}

.teams-container {
  display: flex;
  flex-direction: row;
}

.team-logo {
  height: 120px;
  width: 120px;
}
